<!doctype html>
<html lang="en" ng-app='myApp'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Capital Machinary Corp</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Damion">
   <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

  <link href="http://netdna.bootstrapcdn.com/bootswatch/3.3.2/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="stylesheets/main.css" rel="stylesheet" media="screen">
  
</head>

	<body>
	<nav class="navbar navbar-default navbar-fixed-top topNav" role="navigation">
  	<div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>

	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Logo</a>
	    </div>
	     <div class="navbar-header">
	      <a class="navbar-brand title" href="#">Capital Machinary</a>
	    </div>

		
		 <div class="navbar-collapse collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#section1"><i class="fa fa-wrench">Parts</i></a></li>
                <li><a href="#section2"><span class="glyphicon glyphicon-th">Products</span></a></li>
                <li><a href="#section3"><span>Financing<span></a></li>
                <li><a href="#section4">News</a></li>
                <li><a href="#section5"><span class="glyphicon glyphicon-check">Investor Relations<span></a></li>
                <li><a href="#section6"><i class="fa fa-users">About</i></a></li>
                <li><a href="#section6"><span class="glyphicon glyphicon-envelope">Contact Us</span></a></li>

                <li>&nbsp;</li>
            </ul>
            
        </div>

  	</div><!-- /.container-fluid -->
</nav>


<div class="container-fluid">
	<div class="jumbotron">
		<div class="left jumbotronContent"> 
	  		<h1>Capital Machinary</h1>
	  		<h3>The equipment and the Financing to make it happen</h3>
	  		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  		</div> 

  		<div class="right jumbotronImage"> 
  			<h1>Images coming soon...</h1>
  		</div>
	</div>

	

	<div class="row">
  		<div class="col-xs-6 col-md-2">
    		<a href="#" class="thumbnail">
      			<img src="#" alt="...">
    		</a>
    		<h5>Wash Plants & Delivery Equipment</h5>
  		</div>
  		<div class="col-xs-6 col-md-2">
    		<a href="#" class="thumbnail">
      			<img src="#" alt="...">
    		</a>
    		<h5>Screeners</h5>

  		</div>
  		<div class="col-xs-6 col-md-2">
    		<a href="#" class="thumbnail">
      			<img src="#" alt="...">
    		</a>
    		<h5>Crushers</h5>

  		</div>
  		<div class="col-xs-6 col-md-2">
    		<a href="#" class="thumbnail">
      			<img src="#" alt="...">
    		</a>
    		<h5>??</h5>

  		</div>
  		<div class="col-xs-6 col-md-2">
    		<a href="#" class="thumbnail">
      			<img src="#" alt="...">
    		</a>
    		 <h5>Construction Equipment</h5>

  		</div>
  		<div class="col-xs-6 col-md-2">
    		<a href="#" class="thumbnail">
      			<img src="#" alt="...">
    		</a>
    		<h5>Hydronic Hammers</h5>

  		</div>
  
	</div>


	


	<div class="row">
  		<div class="col-xs-6 col-md-2">
    		<a href="#" class="thumbnail">
      			<img src="#" alt="...">
    		</a>
    		<h5>Ice ?? Equipment </h5>

  		</div>
  		<div class="col-xs-6 col-md-2">
    		<a href="#" class="thumbnail">
      			<img src="#" alt="...">
    		</a>
    		<h5> Environmental Equipment</h5> 
  		</div>
  		<div class="col-xs-6 col-md-2">
    		<a href="#" class="thumbnail">
      			<img src="#" alt="...">
    		</a>
    		<h5> Recycle Equipment</h5> 

  		</div>
  		<div class="col-xs-6 col-md-2">
    		<a href="#" class="thumbnail">
      			<img src="#" alt="...">
    		</a>
    		<h5> Construction and Waste Equipment</h5> 

  		</div>
  		<div class="col-xs-6 col-md-2">
    		<a href="#" class="thumbnail">
      			<img src="#" alt="...">
    		</a>
    		<h5>Water Treatment</h5>
  		</div>
  		<div class="col-xs-6 col-md-2">
    		<a href="#" class="thumbnail">
      			<img src="#" alt="...">
    		</a>
    		<h5>Conveyer </h5>

  		</div>
  
	</div>

	


	<h1>Cleared </h1>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	</body>

	</html>
	
